$mainBlue : #2f5572;
$mainRed : red;
body{
    color: $mainBlue;
    padding: 10px;
    margin: 10px;
    columns: 300px 2;
}

.box {
    a{
        display: block;
        padding: 10px;
        color: $mainRed;
        background: green;
    }
}